*~
\#*
*.old
*.bak

# temporary files
*.exe
*.cache
*.pyc
*.luac
.deps/

# temporary directories
tmp/
build/
bin/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
